<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <div class="content">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <%= msg %>
          </div>
        <% end %>
        
        <%= content_for?(:divided_spans) ? yield(:divided_spans) : yield %>
        
      </div><!--/content-->

      <footer class="footer">
        <p>&copy; MARKDOWN TODO 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
